.post {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;

  &-link {
    display: block;
    text-decoration: none;
    color: black;
    height: 100%;
  }
  &-title {
    margin: 0;
    padding: 1rem 0;
  }
  &-content {
    margin: 0;
    padding: 1rem 0;
  }
}
