.compose {
  margin-top: 60px;
  .post-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    text-align: left;
  }
  .form-label {
    font-weight: 700;
  }
  .submit-button {
    margin-top: 1rem;
    width: 10%;
  }
}
